.contact-card {
    flex-direction: column;

    max-height: 80%;

    overflow: auto;
}

.contact-card div svg {
    width: 20px;
}

h2 span {
    font-family: "NotCourierSans-Bold";
}

svg {
    transform: translateY(5px);
}

.about-divider {
    width: 100%;
    height: 2px;
    background-color: white;
    border-radius: 1000px;

    margin: 20px 0;
}