* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Karrilee";
    color: white;
    text-decoration: inherit;
}

body {
    background-image: url("../images/bfm.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

@font-face {
    font-family: "Karrilee";
    src: url("../Karrilee.otf");
}

@font-face {
    font-family: "NotCourierSans-Bold";
    src: url("../NotCourierSans-Bold.otf");
}

.global-header {
    width: 100%;
    height: auto;
    position: fixed;
    display: grid;

    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: minmax(10px, 1fr);

    grid-template-areas: "contact logo socials";

    align-items: center;
    justify-content: center;

    padding: 1.2rem 4rem;
}

.logo {
    grid-area: logo;
    display: flex;

    align-items: center;
    justify-content: center;
}

.header-logo-desktop {
    display: block;
}

.medium-logo {
    max-width: 300px;
}

.contact {
    grid-area: contact;
}

.contact > a {
    font-family: "NotCourierSans-Bold";
    font-size: 20px;

}

.socials {
    grid-area: socials;
    justify-self: flex-end;
    display: flex;
    align-items: center;
    justify-items: flex-end;
}

.global-footer {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: auto;
    padding: 2rem;
    align-items: center;
    justify-content: center;
    background-color: #000;
}

.text-footer p {
    font-family: "NotCourierSans-Bold";
}

.twitter-link:hover {
    opacity: 0.8;
}