* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SF Pro";
    font-weight: 400;
    text-decoration: none;
    color: #000;
}

@font-face {
    font-family: "SF Pro";
    src: url("../fonts/SF-Pro.ttf");
}

body {
    background-image: url("../images/background.webp");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.global-header {
    position: fixed;
    display: flex;
    width: 100%;
    z-index: 1000;

    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.global-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; 
    gap: 1.5rem; 
}

.global-nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 0.5rem 0; 
    transition: color 0.3s;
    font-size: 20px;
}

.global-nav ul li a:hover {
    color: #eaeaea;
}

.global-logo {
    height: 30px; 
    width: auto;
    width: auto;
    display: block;
}