* {
    box-sizing: border-box;
    margin: 0;
    color: var(--accent-color);
    text-decoration: inherit;
    font-family: 'Manrope';
}

:root {
    --main-color: hsl(60, 86%, 97%);
    --accent-color: hsl(4, 23%, 40%);
}

.footer-btns {
    background-color: var(--main-color);
    color: var(--accent-color);
    font-size: 20px;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
}

.global-header {
    width: 100%;
    min-height: 35px;
    background-color: transparent;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    padding: 30px 25px;
    position: fixed;
    top: 0;

    .logo {
        width: 20%;
        height: min-content;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .logo-btn {
            font-size: 20px;
        }
    }

    .nav-cont {
        width: 80%;
        height: min-content;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        font-size:20px ;
    }
}

.home-section {
    width: 100%;
    height: 100vh;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    padding: 30px 25px;

    .hero-text {
        width: 50%;
        overflow: auto;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1 {
            font-size: 50px;
        }

        h3 {
            font-size: 35px;
        }

        iframe {
            margin-top: 20px;
        }
    
    }
    
    .hero-img {
        width: 50%;

        display: flex;
        align-items: center;
        justify-content: center;
    }
}


.tom-img {
    width: 640px;
    height: 640px;

    background-image: url("https://hrmnizd.com/images/album.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.laufey-music {
    width: 100%;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.options-404 {
    width: 100%;
    height: auto;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    gap: 20px;

    .btn-404 {
        border: none;
        background-color: transparent;
        font-size: 30px;

        position: relative;
        cursor: pointer;
    }
}

.options-404 > a {
    cursor: pointer;
}

.btn-404::after {
    content: '';
    width: 0%;
    height: 2px;

    background-color: var(--accent-color);
    position: absolute;
    bottom: -2px;
    left: 0;
    transition: width 0.2s ease-in-out;
    border-radius: 100px;
}

.btn-404:hover::after {
    width: 100%;
}

.hero-text-404 {
    width: 50%;
    overflow: auto;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

        h1 {
            font-size: 50px;
        }

        h3 {
            font-size: 35px;
        }

        iframe {
            margin-top: 20px;
        }
}

.global-footer {
    width: 100%;
    min-height: 30vh;
    background-color: var(--accent-color);
    color: var(--main-color);

    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

    padding: 30px 25px;

    h1 {
        color: var(--main-color);
    }

    .socials {
        width: 100%;
        height: min-content;
        display: flex;
        gap: 20px;
    }

}

.hero-img-404 {
    display: none;
}

.tom-img-404 {
    display: none;
}

@media screen and (max-width: 900px) {

    .home-section{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .hero-text{
        text-align: center;

        iframe{
            display: none;
        }

        h3 {
            font-size: 25px;
        }
    }

    .tom-img {
        width: 400px;
        height: 400px;
    }
}

@media screen and (max-width: 500px) {
    .tom-img {
        width: 300px;
        height: 300px;
    }
}
