* {
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Karrilee";
    text-decoration: none;
}

body {
    background-image: url("../images/bfm.jpg");
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

@font-face {
    font-family: Karrilee;
    src: url("../fonts/Karrilee.otf");
}

@font-face {
    font-family: SFProDisplay;
    src: url("../fonts/SFPRODISPLAYMEDIUM.OTF");
}

@font-face {
    font-family: NCSB;
    src: url("../fonts/NotCourierSans-Bold.otf");
}

@font-face {
    font-family: NCS;
    src: url("../fonts/NotCourierSans.otf");
}

.global-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "logo links";
    padding: 20px;
    position: fixed;
    width: 100%;
    min-height: 50px;
    background-color: transparent;
    z-index: 9998;
    opacity: 1;
}

.logo {
    float: left;
    width: 100%;
    grid-area: logo;
    justify-self: flex-start;
}

.logo > a {
    font-size: 3rem;
}

.links {
    grid-area: links;
    justify-self: flex-end;
    float: right;
}

.links > a {
    font-family: NCS;
    font-size: 1rem;
    padding: 0 5px;
}

.global-buttons {
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
}

.social-button-styling {
    min-width: 50px;
    min-height: 50px;
    border: none;
    background-color: transparent;
}

.global-socials-style {
    color: white;
    width: 25px;
    height: 25px;
    transition: all 0.1s ease;
    cursor: pointer;
}

.global-socials-style:hover {
    opacity: 0.5;
}

.hp-section {
    max-height: 100vh;
    min-height: 100vh;
    height: 100vh;
    width: calc(100%);
    background-image: url("../images/file4.webp");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.global-footer {
    height: 25vh;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "logo"
    "links"
    ;
    background-color: black;
}

.footer-logo {
    grid-area: logo;
}

.footer-logo a {
    font-size: 2rem;
}

.footer-logo p {
    font-family: NCSB;
}

.footer-links a {
    font-family: NCS;
    font-size: 1rem;
}

.footer-links ul {
    list-style-type: none;
    float: left;
    margin: 0;
    padding: 0;
}

.footer-links li {
    float: left;
}

.site-music {
    display: none;
}

.global-header.hidden {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }


  #seswaywf {
    font-family: NCSB;
  }
  
/* Socials */

.am-section {
    max-height: 100vh;
    min-height: 100vh;
    height: 100vh;
    width: calc(100%);
    background-image: url("../images/file5.webp");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

/* Page not ready Styling */


#blurpnr {
    backdrop-filter: blur(10px);
    width: 100%;
    height: calc(100%);
    z-index: 9998;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
}

#blurpnr > h1 {
    font-family: NCS;
    text-align: center;
}

.noplace-add {
    display: none;
    z-index: 9999;
    position: fixed;
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100vh;
    padding: 20px;
}

.active {
    display: block;
}

#noplace-header {
    display: block;
    width: 100%;
    min-height: 50px;
    z-index: 9999;
    opacity: 1;
}

#noplace-main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#noplace-main-img-container {
    grid-area: noplace;
    -ms-overflow-style: none; 
    scrollbar-width: none;
    overflow-y: scroll;
}

#noplace-main-img-container::-webkit-scrollbar {
    display: none; 
  }

#noplace-main-img-container img {
    width: 30%;
}

/* Mobile Optimization */

@media screen and (max-width: 800px) {
    .global-header {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "logo"
        "links";
        justify-content: center;
        align-items: center;
        justify-items: center;
        align-content: center;
    }

    .logo {
        justify-self: center;
        display: block;
        width: 100%;
        text-align: center;
    }

    .links {
        justify-self: center;
    }

    .footer-logo a {
        text-align: center;
        font-size: 1rem;
    }

    .global-footer {
        height: auto;
    }

    #noplace-main-img-container img {
        width: 100%;
    }
}